body, html	{
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Hind', sans-serif;
	
}

body {
	background-color: #fff;
}

.navbar-brand img { 
	width: 60px;

}

.navbar-brand {
	font-weight: 700;
	font-size: 40px;
	color: #484848;
	
}
@media (max-width: 1100px) {
	.navbar-brand  {
		font-size: 0.7em;
	}
} 

.navbar-nav li {
	padding-right: 20px;
}

.nav-link {
	font-size: 1.1em !important
}

.nav {
	font-size: 14px;
	--transform: uppercase;
	font-weight: 600;
}

.Golovna {
	margin-top: 6%;
}

@media (max-width: 450px) {
	.Golovna{
		margin-top: 18%;
	}
}

.Golovna h1{
	font-family: 'Caveat', cursive;
	font-size: 80px;
	font-weight: 500;
	color:#228B22;
	font-weight: bold;
   text-transform: uppercase;
}

.Golovna p{
	font-family: 'Caveat', cursive;
	font-size: 50px;
	font-weight: 500;
	color: #228B22;
	font-weight: bold;
	text-transform: uppercase;
}

.zagolovok{
	line-height: 0.9;
}

.card {
	border: none;
	line-height: 1.2;
	width: 98%;
}

.lead {
	text-align: justify;
	font-size: 20px;
	color: #001135;

}
.content-lg {
	margin-top:0%;
}

.Products {
	padding-top: 3%;
	margin-bottom: -5%;
}

.products-title {
	font-weight: 700;
	color: #2C2924;
	text-transform: uppercase;
}

.products-text {
	color: #001135;
}


.card-img-top{
	margin-top: -15%;
	margin-bottom: -18%;
}

.card-title {
	font-weight: 700;
	color: #2C2924;
	margin-left: 40px;
	
}

.card-text {
	font-weight: 500;
	font-size: 19px;
	text-align: justify;
	color: #001135;
	margin-left: 8%;
}

.price {
	font-weight: 500;
	font-size: 22px;
	font-weight: bold;
	text-align: justify;
	color: #DC143C;
}

.akcia{
	font-weight: 500;
	font-size: 28px;
	font-weight: bold;
	text-align: justify;
	color: #DC143C;
}

.video{
	margin-top: 50px;
}

.para {
	padding-top: 10%; 
}

.img-pro {
	width: ;
}

.Pro-Nas {
	padding-top: 10%;
}

.Pro-nas-title {
	font-weight: 700;
	color: #2C2924;
	text-transform: uppercase;
	text-align: center;
}
.Pro-nas-text{
	}

.figure {
	background-image: url("prapor.webp");
	background-position: center;
	background-size: cover;
	position: relative;
	width: 100%;
}

.promo-banner-title {
	font-size: 50px;
	padding-top: 5%;
	text-align: center;
	text-transform: uppercase;
	background-repeat: no-repeat;
}

.promo-banner-text {
	text-align: justify;
	width: 100%;
	font-size: 30px;
	font-weight: 400;
	color: black;
	padding-bottom: 5%;
}

.contact {
	padding-top: 2.5%;
	color: #2C2924;
}

.contact-text a {
	display: inline-block;
	vertical-align: top;
	position: relative;

	color: #001135;
	text-decoration: none;

	transition: color .1s linear;
}

.contact-title {
	font-weight: 600; 
}

.number a{
	text-indent: 0.9em;
}

.footer {
	padding-top: 5%;
	text-align: center;
}

.footer-logo {
	width: 100px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}


#spinningTextG{
	width:1410px;
	margin:auto;
	height:176px;
}

.spinningTextG{
	color:rgb(0,0,0);
	font-family:Arial;
	font-size:147px;
	text-decoration:none;
	font-weight:normal;
	font-style:normal;
	float:left;
	animation-name:bounce_spinningTextG;
		-o-animation-name:bounce_spinningTextG;
		-ms-animation-name:bounce_spinningTextG;
		-webkit-animation-name:bounce_spinningTextG;
		-moz-animation-name:bounce_spinningTextG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
}

#spinningTextG_1{
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}
#spinningTextG_2{
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}
#spinningTextG_3{
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}
#spinningTextG_4{
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}
#spinningTextG_5{
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}
#spinningTextG_6{
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}
#spinningTextG_7{
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}
#spinningTextG_8{
	animation-delay:1.79s;
		-o-animation-delay:1.79s;
		-ms-animation-delay:1.79s;
		-webkit-animation-delay:1.79s;
		-moz-animation-delay:1.79s;
}
#spinningTextG_9{
	animation-delay:1.94s;
		-o-animation-delay:1.94s;
		-ms-animation-delay:1.94s;
		-webkit-animation-delay:1.94s;
		-moz-animation-delay:1.94s;
}




@keyframes bounce_spinningTextG{
	0%{
		transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		transform:scale(.3) rotate(90deg);
		color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_spinningTextG{
	0%{
		-o-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-o-transform:scale(.3) rotate(90deg);
		color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_spinningTextG{
	0%{
		-ms-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-ms-transform:scale(.3) rotate(90deg);
		color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_spinningTextG{
	0%{
		-webkit-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-webkit-transform:scale(.3) rotate(90deg);
		color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_spinningTextG{
	0%{
		-moz-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-moz-transform:scale(.3) rotate(90deg);
		color:rgb(255,255,255);
	}
}